<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Fabulinus - The Practical Language Reference</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <!-- Bootstrap CSS, theme, JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- MarkdownJS -->
  <script src="marked.js"></script>

  <!-- HighlightJS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/default.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>  
  
  <style>
  body { margin-left: 10px; margin-right: 10px }
  </style>
</head>
<body>

  <h1>Fabulinus - The Practical Language Reference</h1>

  <select name="language" id="language-select" class="form-control">
    <option value="none">Select...</option>
    <option value="ruby">Ruby</option>
    <option value="python">Python</option>
    <option value="php">PHP</option>
    <option value="js">Javascript ES5</option>
    <option value="cpp">C++</option>
    <option value="java">Java</option>
    <option value="go">Go</option>
      <!--
      <option value="es6">Javascript ES6
      <option value="objc">Objective-C
      -->
  </select>

  <div id="content">
    <div id="ex-structure">
    </div>
    <div id="ex-control">
    </div>
    <div id="ex-function">
    </div>
    <div id="ex-var">
    </div>
    <div id="ex-string">
    </div>
    <div id="ex-map">
    </div>
    <div id="ex-io">
    </div>
    <div id="ex-io2">
    </div>
    <div id="ex-class">
    </div>
    <div id="ex-datetime">
    </div>
    <div id="ex-regex">
    </div>
    <div id="ex-namespace">
    </div>
  </div>
  
  <script type="text/template" id="code-block-template">
    <h2><%- title %></h2>
    <pre><%= code %></pre>
  </script>

  <script src="fabulinus.js"></script>
</body>
</html>